@font-face {
  font-family: 'HelveticaNeueItalic';
  src: url('../fonts/helvetica_italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/metropolis-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn1 {
    0% {
        opacity:0;
    }

    50% {
        opacity:1;
    }

    100% {
        opacity:1;
    }
}

@keyframes fadeInDown {
    0% {
        opacity:0;
        transform: translateY(-100px);
    }

    50% {
        opacity:1;
    }

    100% {
        opacity:1;
        transform: translateY(0px);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity:0;
    }
}

@keyframes bounce1 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}


@keyframes loadRing {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(1000deg); }
}

.source-code-pro {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root{
    --primary-color-1: #5d00bf;
    --primary-color-2: #fff200;
}

.top-logo {
    width: 210px;
    margin-top: 20px;
    margin-bottom: -4px;
    margin-left: 75px;
}

.top-banner {
    justify-content: center;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 70px;
    border: 1px var(--primary-color-1) solid;
    width: 960px;
}

nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color-1);
    font-family: 'Source Code Pro';
}

nav ul li {
    text-decoration: none;
    padding: 14px 0;
}

.carousel {
    opacity: 0;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    animation: fadeIn1 3s forwards;
    animation-delay: 1.33s;
}

.carousel img {
    width: 50px;
    height: 100%;
    transition: .5s;
}

.carousel img:hover {
    scale: 1.5;
}

.carousel .bounce1 {
    animation: bounce1 4s infinite;
}

.carousel .bounce2 {
    animation: bounce1 4s infinite;
    animation-delay: 2s;
}

.section-1 {
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.section-1 h1 {
    opacity: 0;
    font-size: 48px;
    color: var(--primary-color-1);
    text-transform: uppercase;
    font-family: 'HelveticaNeueItalic';
    margin: 0;
    margin-top: -30px;
    line-height: .9;
    animation: fadeIn1 1s forwards;
    animation-delay: .66s;
}

.section-1 h2 {
    opacity: 0;
    font-size: 24px;
    color: var(--primary-color-1);
    text-transform: uppercase;
    font-family: 'HelveticaNeueItalic';
    margin: 0;
    line-height: .9;
    margin-top: 50px;
    animation: fadeIn1 1s forwards;
    animation-delay: .33s;
}

.section-2 {
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color-1);
    padding: 20px;
    line-height: 1.4em;
    border: var(--primary-color-1) 1px solid;
}

.section-2 h2 {
    font-family: 'HelveticaNeue';
    font-size: 24px;
    text-transform: uppercase;
    color: var(--primary-color-2);
}

.section-2 p {
    font-family: 'Metropolis';
    color: #fff;
}

.yellow-button {
    text-align: center;
    background-color: var(--primary-color-2);
    display: block;
    width: 140px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
    padding-bottom: 13px;
    border-radius: 50px;
    margin: 20px auto;
}

.yellow-button a {
    text-decoration: none;
    color: var(--primary-color-1);
    text-transform: uppercase;
    font-family: 'HelveticaNeue';
}

.yellow-button:hover {
    background-color: #fff;
}

.purple-button {
    text-align: center;
    background-color: var(--primary-color-1);
    display: block;
    width: 290px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
    padding-bottom: 13px;
    border-radius: 50px;
    margin: 20px auto 60px auto;
}

.purple-button a {
    text-decoration: none;
    color: var(--primary-color-2);
    text-transform: uppercase;
    font-family: 'HelveticaNeue';
}

.purple-button:hover {
    background-color: var(--primary-color-2);
}

.purple-button:hover a {
    color: var(--primary-color-1);
}

.yellow-banner {
    justify-content: center;
    text-align: center;
    border: var(--primary-color-1) 1px solid;
    background-color: var(--primary-color-2);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

.yellow-banner p {
    font-family: 'Source Code Pro';
    text-transform: uppercase;
    color: var(--primary-color-1);
}

.more-row {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
}

.console-page {
    opacity: 0;
    display: flex;
    animation: fadeIn1 1s forwards;
    animation-delay: 1s;
}

.console-page h1 {
    font-size: 110px;
    font-family: 'HelveticaNeue';
    color: #fff;
    letter-spacing: -10px;
    margin-left: -10px;
}

.console-background {
    width: 295px;
    height: 390px;
    z-index: -5;
    margin-top: -89.3px;
    margin-bottom: 70px;
}

.console-background.gamecube {
    background-color: #cab5ff;
}

.console-background.ds {
    background-color: #c3c3ca;
}

.console-background.gbasp2 {
    background-color: #ff9696;
}

.console-image img {
    opacity: 0;
    width: 400px;
    position: relative;
    top: -430px;
    left: -60px;
    margin-bottom: -400px;
    animation: fadeInDown 4s forwards, bounce1 4s infinite;
    animation-delay: 1.33s;
    transition: 1s;
}

.console-image img:hover {
    scale: 1.05;
}

.console-info h2 {
    color: #000;
    font-family: 'HelveticaNeue';
    font-size: 14px;
    text-transform: uppercase;
    margin-top: -10px;
}

.console-info p {
    font-family: 'Source Code Pro';
    text-transform: uppercase;
    line-height: 1em;
}

.console-info {
    margin-bottom: 60px;
}

.breadcrumbs {
    display: flex;
    color: var(--primary-color-1);
    font-family: 'Source Code Pro';
    text-transform: uppercase;
    margin-top: 20px;
    text-decoration: none;
}

.console-desc h2 {
    color: #000;
    font-family: 'HelveticaNeue';
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 40px;
}

.console-desc h3 {
    color: #000;
    font-family: 'Source Code Pro';
    font-size: 15px;
    text-transform: uppercase;
    margin-top: -25px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.console-desc h3 span {
    color: #000;
    font-family: 'Source Code Pro';
    font-size: 15px;
    text-transform: uppercase;
    margin-top: -25px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.console-desc p {
    color: #000;
    font-family: 'Metropolis';
    font-size: 12px;
    font-weight: 600;
    line-height: 1.75em;
    margin-top: 30px;
}

.my-thoughts {
    background-color: var(--primary-color-1);
    padding: 30px;
    margin-top: 40px;
    border-radius: 15px;
}

.my-thoughts h2 {
    color: var(--primary-color-2);
    font-family: 'HelveticaNeue';
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 0px;
}

.my-thoughts p {
    color: #fff;
    font-family: 'Metropolis';
    font-size: 12px;
    font-weight: 600;
    line-height: 1.75em;
    margin-top: 20px;
}

.stars {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: -40px;
    margin-bottom: -5px;
}

.stars li img {
    width: 40px;
}

.console-square {
    width: 245px;
    height: 230px;
    background-color: var(--primary-color-2);
    margin: 40px auto;
    border-radius: 25px;
}

.console-square img {
    width: 190px;
    margin: auto;
    padding: auto;
    position: relative;
    left: 12px;
    top: 20px;
    transition: .25s;
}

.console-square img:hover {
    transition: .25s;
    scale: 1.15;
}

.console-square h3 {
    font-family: 'helveticaNeue';
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    left: 10px;
    top: -5px;
}

.console-square h3 span {
    font-family: 'helveticaNeue';
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
}

.console-square h4 {
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
    left: 10px;
    top: -25px;
}

.console-square a {
    color: #000;
    position: relative;
    left: 15px;
    top: -30px;
    text-decoration: none;
}

.console-square-2 {
    width: 140px;
    height: 140px;
    background-color: var(--primary-color-2);
    margin: 40px auto;
    border-radius: 25px;
}

.console-square-2 img {
    width: 105px;
    margin: auto;
    padding: auto;
    position: relative;
    left: 16px;
    top: -3px;
    transition: .25s;
}

.console-square-2 img:hover {
    transition: .25s;
    scale: 1.15;
}

.console-square-2 h3 {
    font-family: 'helveticaNeue';
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    left: 10px;
    top: -15px;
}

.console-square-2 h3 span {
    font-family: 'helveticaNeue';
    font-size: 8.5px;
    text-transform: uppercase;
    position: relative;
}

.console-square-2 h4 {
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    left: 10px;
    top: -30px;
}

.console-square-2 a {
    color: #000;
    position: relative;
    text-decoration: none;
}

.purple-text-box {
    color: #fff;
    background-color: var(--primary-color-1);
    padding: 20px 35px;
    line-height: 1.5em;
    font-family: 'Metropolis';
    border-radius: 25px;
}

.page-heading {
    opacity: 0;
    position: relative;
    top: 30px;
    left: 120px;
    margin-bottom: 50px;
    font-family: 'HelveticaNeue';
    color: var(--primary-color-1);
    text-transform: uppercase;
    font-size: 12px;
    animation: fadeIn1 1s forwards;
    animation-delay: 1.33s;
}

.collection-page {
    display: flex;
}

.console-grid {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    padding-bottom: 80px;
    margin-left: 100px;
    opacity: 0;
    animation: fadeIn1 1s forwards;
    animation-delay: 1.99s;
}

.console-collection-right .console-square-2 {
    margin-bottom: -10px;
}

.console-collection-left {
    border: solid 1px var(--primary-color-1);
    margin-top: -17px;
}

.console-collection-left p {
    font-family: 'Source Code Pro';
    text-transform: uppercase;
    font-size: 15px;
}

.sort-heading {
    padding-right: 20px;
    border: 1px solid var(--primary-color-1);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    background-color: var(--primary-color-1);
    text-align: center;
}

.sort {
    font-family: 'Source Code Pro';
    text-transform: uppercase;
    line-height: 1.8em;
    margin-left: 30px;
    color: var(--primary-color-1);
}

.sort-form {
    font-family: 'Source Code Pro';
    text-transform: uppercase;
    line-height: 1.8em;
    color: var(--primary-color-1);
    padding-bottom: 30px;
}

.sort-form h5 {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.filter {
    font-family: 'Source Code Pro';
    text-transform: uppercase;
    color: var(--primary-color-1);
    line-height: 1.8em;
    padding-left: 30px;
}

.searchbar {
    opacity: 0;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid var(--primary-color-1);
    padding: 8px 318px 7px 15px;
    position: relative;
    top: x0px;
    left: 110px;
    margin-bottom: 20px;
    font-family: 'Source Code Pro';
    color: var(--primary-color-1);
    text-transform: uppercase;
    animation: fadeIn1 1s forwards;
    animation-delay: 1.66s;
}

.loadring {
    animation: loadRing 1s forwards, fadeInOut 1s forwards;
    animation-timing-function: linear;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1540px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadring.lr-solo {
    margin-top: -1450px;
}

.loadring img {
    width: 50px;
}

.filter-controls {
    list-style: none;
    padding-left: 0;
}

.filter-controls li {
    position: relative;
}

.filter-controls li a {
    color: var(--primary-color-1);
    font-family: 'Source Code Pro';
    transition: 0s;
    padding-left: 25px;
}

.filter-controls li a.active {
    color: var(--primary-color-1);
    font-family: 'Source Code Pro';
    font-weight: 800;
    transition: 0s;
}

.footer-logo {
    position: relative;
    top: 32px;
    width: 300px;
}

.footer-bg {
    background-color: var(--primary-color-1);
    padding: 20px;
    line-height: 1.4em;
    border: var(--primary-color-1) 1px solid;
}

.footer-elements {
    list-style-type: none;
    position: relative;
    top: -80px;
}

.footer-elements a {
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Source Code Pro';
    line-height: 2em;
}